* {
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior: none;
  background: #f1f0ec;
  font-family: "Karla", "Outfit", sans-serif;
  font-weight: 400;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  outline: none;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #363e3a;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 36px 54px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
}

header h1 {
  font-size: 1.2rem;
}

header p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-align: center;
}

header div {
  text-align: end;
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 22px;
}

section {
  text-align: center;
}

.project-index {
  color: #e17a58;
  font-size: 10px;
  margin-bottom: 8px;
}

.project-name {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.project-location {
  font-size: 12px;
}

footer {
  color: #bebfbb;
  font-size: 12px;
}
